{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
